@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    background-color: black;
    color: white;
    height: 120px;
    width: auto;
}

header p  {
    font-style: italic;
    font-size: 22px;
    padding-left: 70px ;
}

h1 {
    font-size: 30px;
    text-align: center;
    padding: 15px;
}

main {
    display: flex;
    justify-content: center;
}


.cadastro {
    background-color: #CCC;
    font-weight: bold;
    width: 75%;
    border-radius: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cadastro-int input {
    width: 515px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #CCC;
    outline: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.cadastro-int {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.logo img {
    width: auto;
    height: 128px;
}

.botoes input {
    width: 180px;
    height: 30px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer
}

#submit {
    margin-left: 100px;
}


input:hover {
    background-color: whitesmoke;
}

